.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #99B4D1;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #d2d2d2;
    -fx-text-fill: white;
}